body {
  font-family: Open sans, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #9fa3a7;
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto auto auto 200px;
  align-content: center;
}

.item1 {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 4%;
  align-items: center;
}

.iphone-content {
  width: 32%;
}

.iphone-6s {
  display: inline-block;
  margin-top: 40px;
}

.item2 {
  grid-column: 3 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(247, 248, 249, 1);
}

.item2-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 0, 10%;
}

.item3 {
  background-color: rgba(240, 86, 56, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item3-content {
  text-align: center;
}

.keyboard {
  display: inline-block;
  max-width: 100%;
}

.item4 {
  grid-area: 2 / 2 / 2 / 4;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  overflow: hidden;
  padding: 68px 4% 0 4%;
  justify-content: space-around;
}

.item4-primary-content {
  display: flex;
  flex-direction: column;
  max-width: 180px;
}

img.imac {
  position: relative;
  left: -160%;
  width: 250%;
  max-width: none;
  margin-top: 40px;
}

.item4-secondary-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.item5 {
  grid-area: 2 / 4 / 4 / 4;
  background-color: rgba(143, 118, 188, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5% 70px 5%;
  overflow: hidden;
  text-align: center;
}

.circle {
  width: 373px;
  height: 373px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
}

.circle--purple {
  background-color: #8166b0;
}

.text-block {
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: center;
  padding: 0 10px;
  border-radius: 60px;
  background-color: hsla(0, 0%, 100%, .08);
}

img.yellow-flag {
  margin-right: 8px;
}

img.floppy {
  position: relative;
  left: -8px;
  margin-top: 20px;
}

.item5-body-text-block {
  width: 80%;
  max-width: 290px;
}

.item6 {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 5% 70px 5%;
  text-align: center;
}

img.controller {
  position: relative;
  left: -7%;
}

.item7 {
  grid-area: 3 / 2 / 3 / 4;
  background-color: rgba(147, 182, 183, 1);
  background-image: url(file:///Users/philipdemir/Documents/Personal%20Work/css_grid/grid_website_01/assets/images/ux-big-text.png);
  background-position: 50% 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.small-tag {
  font-family: Open Sans, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: #fff;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 10px;
  border-radius: 5px;
}

.small-tag--red {
  position: absolute;
  left: 30px;
  top: 20px;
  background-color: #fa684f;
}

.item7-content {
  display: block;
  max-width: 280px;
  margin: auto;
  padding-top: 31px;
  padding-bottom: 31px;
}

img.tablet {
  position: relative;
  left: -12%;
  width: 90%;
}

.item8 {
  background-color: rgba(56, 213, 244, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle--blue {
  background-color: #35cfed;
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  padding: 0 34px;
  box-sizing: border-box;
}

.item9 {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item9-content {
  width: 90%;
  text-align: center;
}

.small-tag--green {
  background-color: #7bc424;
}

.item10 {
  grid-area: 4 / 3 / 4 / 5;
  background-color: rgba(44, 44, 44, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  overflow: hidden;
}

img.tv {
  position: relative;
  left: -15%;
}

.item10-content {
  width: 34%;
}

p.eyebrow {
  display: block;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #9fa3a7;
  margin: 0px 0px 0px 0px;
}

p.eyebrow-white {
  display: block;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  margin: 0px 0px 0px 0px;
}

p.block-tag-white {
  font-family: Open sans, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2.4px;
  margin: 2px 0px;
}

p.body-text {
  display: block;
  font-family: Open sans, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #9fa3a7;
  margin: 0px;
  padding: 0px;
}

p.body-text-white {
  display: block;
  font-family: Open sans, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

h1 {
  display: block;
  font-family: Arvo, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #333;
  margin: 10px 0px 20px 0px;
}

h2 {
  display: block;
  font-family: Arvo, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #fff;
  margin: 20px 0px 20px 0px;
}

h3.heading {
  display: block;
  font-family: Arvo, Helvetica, sans-serif;
  font-weight: 400;
  font-family: Arvo, sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: #333;
  margin: 10px 0px 20px 0px;
}

h3.heading--white {
  color: #fff;
}

h3.heading--bold {
  font-weight: 700;
}

a {
  display: block;
  font-family: Open sans, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px
  color: #27b9c2;
}

a.link--yellow {
  display: block;
  font-family: Open sans, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffc80a;
}

a.link--aqua {
  display: block;
  font-family: Open sans, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
  color: #27b9c2;
}

a.button {
  margin-top: 30px;
  padding: 14px 28px;
  border-radius: 50px;
  background-color: #ffc80a;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
  width: max-content;
}

@media only screen and (max-width: 991px) {
  body {
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 18px;
   color: #000;
   margin: 0px;
   padding: 0px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto 200px 200px;
    align-content: center;
  }

  .item1 {
    grid-area: 2 / 1 / 2 / 3;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 4%;
    align-items: center;
  }

   .iphone-content {
     width: 32%;
  }

  .iphone-6s {
    display: inline-block;
    margin-top: 40px;
  }

  .item2 {
    grid-area: 1 / 1 / 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50 0;
    align-items: center;
    background-color: rgba(247, 248, 249, 1);
  }

  .item2-content {
    max-width: 550px;
    text-align: center;
  }

  .item3 {
    grid-area: 3 / 1 / 3 / 2;
    background-color: rgba(240, 86, 56, 1);
  }

  .item4 {
    grid-area: 4 / 1 / 4 / 3;
    background-color: rgba(255, 255, 255, 1);
  }

  .item5 {
    grid-area: 5 / 2 / 7 / 2;
    background-color: rgba(143, 118, 188, 1);
  }

  .item6 {
    grid-area: 3 / 2 / 3 / 3;
    background-color: rgba(247, 248, 249, 1);
  }

  .item7 {
    grid-area: 6 / 1 / 6 / 2;
    background-color: rgba(147, 182, 183, 1);
  }

  .item8 {
    grid-area: 5 / 1 / 5 / 2;
    background-color: rgba(56, 213, 244, 1);
  }

  .item9 {
    grid-area: 7 / 1 / 7 / 3;
    background-color: rgba(255, 255, 255, 1);
  }

  .item10 {
    grid-area: 8 / 1 / 8 / 3;
    background-color: rgba(44, 44, 44, 1);
  }

  h1 {
    display: block;
    font-family: Arvo, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 49px;
    color: #333;
    margin: 10px 0px 20px 0px;
  }

}

@media only screen and (max-width: 479px) {
  body {
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 18px;
   color: #000;
   margin: 0px;
   padding: 0px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    align-content: center;
  }

  .item1 {
    grid-area: 2 / 1 / 2 / 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 4% 0 4%;
    align-items: center;
  }

   .iphone-content {
     width: 90%;
  }

  .iphone-6s {
    display: inline-block;
    margin-top: 40px;
  }

  .item2 {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50 0;
    align-items: center;
    background-color: rgba(247, 248, 249, 1);
  }

  .item2-content {
    max-width: 550px;
    text-align: center;
  }

  .item3 {
    grid-area: 3 / 1 / 3 / 1;
    background-color: rgba(240, 86, 56, 1);
  }

  .item3-content {
    padding: 40px 0;
  }

  .item4 {
    grid-area: 5 / 1 / 5 / 1;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 68px 4% 50px 4%;
    justify-content: space-around;
  }

  .item4-primary-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: none;
    margin-bottom: 34px;
  }

  img.imac {
    position: relative;
    left: -115%;
    width: 200%;
    max-width: none;
    margin-top: 40px;
  }

  .item4-secondary-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .aqua-link {
    margin-top: 20px;
  }

  .item5 {
    grid-area: 8 / 1 / 9 / 1;
    background-color: rgba(143, 118, 188, 1);
  }

  .item6 {
    grid-area: 4 / 1 / 4 / 1;
    background-color: rgba(247, 248, 249, 1);
  }

  .item7 {
    grid-area: 7 / 1 / 7 / 1;
    background-color: rgba(147, 182, 183, 1);
    padding-top: 30px;
  }

  .item8 {
    grid-area: 6 / 1 / 6 / 1;
    background-color: rgba(56, 213, 244, 1);
  }

  .item9 {
    grid-area: 10 / 1 / 10 / 1;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 0;
  }

  .item10 {
    grid-area: 11 / 1 / 11 / 1;
    background-color: rgba(44, 44, 44, 1);
    flex-direction: column;
    text-align: center;
  }

  .item10-content {
    width: 100%;
  }
}
